@charset "utf-8";

.st_tree{margin: 400px auto;}
/* .st_tree a{font-size: 24px;} */

/* 超链接 */
.st_tree a{text-decoration:none; margin-left: 10px}
/* 鼠标未点击的超链接 */
.st_tree a:link{color:blue}
/* 已访问的超链接 */
.st_tree a:visited{color:blue}
/* 鼠标经过的超链接 */
.st_tree a:hover{color:red}
/* 菜单 */
.st_tree ul{padding:0px;margin:20px;}
/* 菜单项 */
.st_tree ul li{font-size:24px;color:#222;line-height:24px;cursor:pointer;list-style:none;background:url(imgs/st_node.gif);background-repeat:no-repeat;padding:0 0 3px 30px;}
/* 子菜单 */
.st_tree ul li ul{padding:0px;margin:0px;}
/* 子菜单项 */
.st_tree ul li ul li{font-size:24px;color:#222;line-height:24px;cursor:pointer;list-style:none;background:url(imgs/st_node.gif);background-repeat:no-repeat;padding:0 0 3px 30px;}
/* 子菜单的父节点 */
.st_tree .folder{list-style-image:url(imgs/st_icon.png);background:url(imgs/st_folder.png);background-repeat:no-repeat;padding:0 20px 0 20px;}
/* 展开的父节点 */
.st_tree .open{height: 30px;list-style-image:url(imgs/st_icon_open.png);background:url(imgs/st_folder_open.png);background-repeat:no-repeat;padding:0 20px 0 20px;}